#
# Apache/PHP/WP settings:
#
php_value upload_max_filesize 500M
php_value post_max_size 500M
php_value max_input_vars 3000

#Require all granted

DirectoryIndex index.php

Options All -Indexes

Options +FollowSymlinks


#require pass and login
#AuthUserFile /var/www/html/.htpasswd
#AuthGroupFile /dev/null
#AuthName "Acces securise"
#AuthType Basic
#Require valid-user

# Authentification ou non selon l'environnement de deploiement
SetEnvIf HOST "localhost" SERVER_ENV_LOCAL !SERVER_ENV_RECETTE !SERVER_ENV_PREPROD !SERVER_ENV_PROD
SetEnvIf HOST "e-magazine-recette[.]corp[.]aits[.]mg" !SERVER_ENV_LOCAL SERVER_ENV_RECETTE !SERVER_ENV_PREPROD !SERVER_ENV_PROD
SetEnvIf HOST "e-magazine-recette[.]aits[.]mg" !SERVER_ENV_LOCAL SERVER_ENV_RECETTE !SERVER_ENV_PREPROD !SERVER_ENV_PROD

Order deny,allow
deny from all
allow from env=SERVER_ENV_LOCAL
deny from env=SERVER_ENV_RECETTE
allow from env=SERVER_ENV_PREPROD
allow from env=SERVER_ENV_PROD
Satisfy any

# Repertoire virtuel de Base differente par environnement pour la reecriture d'URL

SetEnvIf HOST "localhost" PROJECT_BASE_PATH=/projets/e-magazine/srcs/
SetEnvIf HOST "e-magazine-recette[.]corp[.]aits[.]mg" PROJECT_BASE_PATH=/
SetEnvIf HOST "e-magazine-recette[.]aits[.]mg" PROJECT_BASE_PATH=/

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . %{ENV:PROJECT_BASE_PATH}index.php [L]
</IfModule>