.flipbook-viewport .flipbook{
  margin: 25px auto!important;
  width:100%;
  height:600px;
  @media #{$min960} {
    width:922px;
  }
}

.bg-details {
  background: black;
}

.bar {
  float: right;
  margin-bottom: auto;
}

.fa:hover {
  color: white;
}

.zoom-in {
  margin-right: 20px;
}

#canvas {
  position: relative;
}

#popupMenu {
  position: absolute;
  right: -133px;
  top: 58px;
  background: aqua;
}