
.footer {
	background-color: #6c6665;
	padding: 20px 0;
	.copyright {
		color: white;
		font-size: 14px;
		line-height: 1.4;
		text-align:center;
		@media #{$min1024} {
			text-align:left;
		}
		a {
			color: white;
		}
	}
}
